<!-- masthead -->
<div class="ui masthead segment blue-round-gradient">
  <div class="ui page grid">
    <div class="column">
        
        {% include menu.html %}

        <h1 class="header-3d header-3d-center">{{ site.tagline }}</h1>

        <div class="ui stackable grid">
                  
          <div class="row">
            <div class="four wide column">
              <img src="https://avatars3.githubusercontent.com/u/3519138?v=3&amp;s=180" class="img-rounded" width="120" height="120">
            </div>
            <div class="eight wide column">
              <h2 class="slim-header-light">{{ site.description }}</h2>
            </div>
            <div class="four wide column">
              <div class="column">
                <h5 class="ui inverted header">Social</h5>
                <div class="ui inverted link list">
                  <a class="item" href="https://twitter.com/{{ site.twitter_username }}"><i class="twitter icon"></i> Twitter</a>
                  <a class="item" href="https://github.com/{{ site.github_username }}"><i class="github icon"></i> GitHub</a>
                  <a class="item" href="{{ site.url }}/feed.xml"><i class="rss icon"></i> Feed</a>
                </div>
              </div>
            </div>
          </div> <!-- .row -->
        </div> <!-- .grid -->
    </div>
  </div>
</div>
<!-- /masthead -->
